@using PetShop.ViewModel;

@{
    HomeViewModel homeViewModel = Model;
    var offer = homeViewModel.Offers;
    var featured_Product = homeViewModel.FeaturedProducts;
    var organic = homeViewModel.Organics;

}


<section class="puffles">
    <section class="search d-none">
        <div class="content_search">
            <div class="search_cont">
                <input placeholder="Search..." type="search" name="" id="">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </section>
    <div class="all_puffles">
        <div class="container">
            <div class="content_puffles">
                <h1>Puffles</h1>
                <h3>MAKE YOUR PETS HAPPY</h3>
                <h4>
                    Our Pet Shop values quality, comfort, and <br />
                    individuality of our products and services.
                </h4>
                <a href="">READ MORE</a>
            </div>
        </div>
    </div>
</section>

<section class="featured_products">
    <div class="all_fetured">
        <div class="container">
            <div class="content_featured">
                <div class="head_featured">
                    <h2>Featured products</h2>
                </div>
                <div class="row">
                    @foreach (var item in featured_Product)
                    {
                        <div class="col-lg-4">
                            <div class="box_featured_content">
                                <div class="box_featured">
                                    <div class="photo_featured">
                                        <img src="~/file/featured/@item.ImageUrl" alt="" />
                                    </div>
                                    <div class="link_featured1">
                                        <a href="">@item.ProductName</a>
                                    </div>
                                    <div class="link_featured2">
                                        <a href="">@item.HrefLink</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="offer">
    <div class="all_offer">
        <div class="container">
            <div class="content_offer">
                <div class="head_offer">
                    <h2>What we offer</h2>
                </div>
                <div class="row g-4">
                    @foreach (var item in offer)
                    {
                        <div class="col-lg-4 offer_lg">
                            <div class="box_offer_content">
                                <div class="box_content">
                                    <div class="photo_offer">
                                        <img src="/assets/@item.ImageUrl" alt="" />
                                    </div>
                                    <div class="text_offer">
                                        <a href="">@item.Name</a>
                                        <p>
                                            @item.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>

<section class="hurry">
    <div class="all_hurry">
        <div class="container">
            <div class="content_hurry">
                <h2>Hurry up!</h2>
                <h4>Save 50% on all items your first order</h4>
                <p>
                    Shop today to save big on your first order at Puffles Store and
                    get everything that your dog <br />
                    needs to stay healthy and happy.
                </p>
                <a href="">SHOP NOW</a>
            </div>
        </div>
    </div>
</section>

<section class="treats">
    <div class="container">
        <div class="content_treats">
            <div class="text_treats text-center">
                <h2>Dog & cat treats</h2>
                <h4>
                    Pamper your pets with our range of quality dog & cat treats
                </h4>
                <a href="">SHOP NOW</a>
            </div>
        </div>
    </div>
</section>

<section class="organic">
    <div class="container">
        <div class="content_organic">
            <div class="row">
                @foreach (var item in organic)
                {
                    <div class="col-lg-2-5">
                        <div class="box_organic">
                            <img src="/assets/@item.ImageUrl" alt="" />

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>