<section class="puffles">
    <section class="search d-none">
        <div class="content_search">
            <div class="search_cont">
                <input placeholder="Search..." type="search" name="" id="">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </section>
    <div class="all_puffles">
        <div class="container">
            <div class="content_puffles">
                <h1> C# HOME PAGE</h1>
            </div>
        </div>
    </div>
</section>