<main>
    <section class="bg_bone">
        <section class="search d-none">
            <div class="content_search">
                <div class="search_cont">
                    <input placeholder="Search..." type="search" name="" id="" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </section>
        <div class="all_bg_bone">
            <div class="content_testimonials text-center">
                <h2>Contact Us</h2>
            </div>
        </div>
    </section>

    <section class="pages_full">
        <a href="index.html">HOME</a>
        <i class="fa-solid fa-arrow-right"></i>
        <a class="main_page" href="contact.html">CONTACT US</a>
    </section>

    <div class="touch_contact">
        <div class="container">
            <div class="content_touch">
                <div class="head_touch d-flex">
                    <h3>Get in touch</h3>
                    <p class="lg_touch_ph">
                        We are available 24/7 by fax, e-mail or by phone. You can also
                        use our <br />
                        quick contact form to ask a question about our solutions.
                    </p>
                    <p class="sm_touch_ph">
                        We are available 24/7 by fax, e-mail or by phone. You can also
                        use our quick contact form to ask a question about our
                        solutions.
                    </p>
                </div>
                <div class="bottom_touch">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="box_mail_touch">
                                <div class="touchinput">
                                    <input placeholder="First Name" type="text" />
                                </div>
                                <div class="touchinput">
                                    <input placeholder="E-mail" type="email" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box_mail_touch">
                                <div class="touchinput">
                                    <input placeholder="Last Name" type="text" />
                                </div>
                                <div class="touchinput">
                                    <input placeholder="Phone" type="tel" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box_mail_touch">
                                <div class="touchinput">
                                    <textarea placeholder="Message"
                                              name=""
                                              id=""
                                              cols="30"
                                              rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">SEND MESSAGE</a>
                </div>
            </div>
        </div>
    </div>

    <section class="connected">
        <div class="container">
            <div class="content_connected">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="box_connected text-center">
                            <div class="text_connected">
                                <h3 class="lg_h3">
                                    Stay<span> <br />connected</span>
                                </h3>
                                <h3 class="sm_h3">Stay<span> connected</span></h3>
                                <p>Subscribe to our newsletter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box_connected">
                            <div class="email_inp">
                                <input class="input"
                                       placeholder="Enter your e-mail address"
                                       type="email"
                                       name=""
                                       id="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box_connected">
                            <div class="sub">
                                <a href="">SUBSCRIBE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact_info">
        <div class="container">
            <div class="content_c_info">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="box_cont_info text-center">
                            <h4>Phones</h4>
                            <ul style="list-style: none">
                                <li>
                                    Office <a href="tel:+1(409) 987–5874">+1(409) 987–5874</a>
                                </li>
                                <li>
                                    Fax <a href="tel:+1(409) 987–5864">+1(409) 987–5864</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box_cont_info text-center">
                            <h4>Address</h4>
                            <p>
                                523 Sylvan Ave, 5th Floor <br />
                                Mountain View, CA 94041 USA
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box_cont_info text-center">
                            <h4>E-mails</h4>
                            <ul style="list-style: none">
                                <li class="mail_c_info">info@demolink.org</li>
                                <li class="mail_c_info">info@demolink.org</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>