@using PetShop.ViewModel
@model FeaturedViewModel
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Table</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for=ProductName>ProductName</label>
                        <input asp-for=ProductName class="form-control" placeholder="ProductName">
                    </div>
                    <div class="form-group">
                        <label asp-for=HrefLink>HrefLink</label>
                        <input asp-for=HrefLink class="form-control" placeholder="HrefLink">
                    </div>
                    <div class="form-group">
                        <label for="Image">Image</label>
                        <input type="file" asp-for="Image" class="form-control" placeholder="ImageUrl">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button asp-controller="featured" asp-action="index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>