<main>
    <!-- Button trigger modal -->
    <section class="bg_bone">
        <section class="search d-none">
            <div class="content_search">
                <div class="search_cont">
                    <input placeholder="Search..." type="search" name="" id="" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </section>
        <div class="all_bg_bone">
            <div class="content_testimonials text-center">
                <h2>Cart Page</h2>
            </div>
        </div>
    </section>

    <section class="pages_full">
        <a href="index.html">HOME</a>
        <i class="fa-solid fa-arrow-right"></i>
        <a href="shop.html">SHOP</a>
        <i class="fa-solid fa-arrow-right"></i>
        <a class="main_page" href="basket.html">CART PAGE</a>
    </section>

    <section class="cart_table">
        <div class="container">
            <div class="content_table">
                <div class="foralert d-none">
                    <div class="alert rounded-5 w-25 mx-auto text-center">
                        Basket Is Empty...
                    </div>
                </div>
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th class="first_th">Product Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center end_th">Total</th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                </table>
                <div class="check_div">
                    <button class="checkout">PROCEED TO CHECKOUT</button>
                </div>
            </div>
        </div>
    </section>

</main>